<section id="home-section">
  <h1>Bienvenido al Directorio de Equipos</h1>
</section>
<footer>
  <% if !current_user %>
    <% if !current_director %>
      <%= link_to 'Manejar mis grupos', login_path %>
    <% end %>
  <% end %>
</footer>
